# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://edb08aea42907c577cfa3594d40978f9dbb6aa2466b9e20fa0aeed186694edbb:sk_OMuF3JobDZ9DYi49lU3MY@db.prisma.io:5432/postgres?sslmode=require"